
body{
  background-color: rgb(95, 95, 167);
  /*height: 3500px;*/
  /*width: 1700px;*/
  width: 100%;
  margin: 20px auto;
 
}
footer{
  background-color: deeppink;
  color: azure;
}
h1{
  text-shadow: 2px 2px 5px #0F1734;
}
.nav{
  /*background-color: darkturquoise;*/
  margin-left: 5%;
}
.principal{
  width:100%;
  height:660px;
  background-color:#0F1734;  
  display:flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
}
.principal div:nth-child(1){
  /*background-color: rgba(180, 143, 163, 0.473);*/
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.principalChild2{
  /*background-color: turquoise;*/
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.principal div p{
  font-size: 30px;
  color:#F8F4F4;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 5px;
}
img[src="./img/mrEncrypt.png"]{
  width:150px;
  margin-top: 30px;
}
img[src="./img/crown.png"] {
  width: 50px;
}

.principalChild2>div:nth-child(1){/* div mrEncrypt*/
  background-color: white;
  width: 155px;
  margin-right:50px;
}
.principalChild2>div:nth-child(2){/*div de flechita */
  background-color: tomato;
  margin-top: 70px;
  margin-right: 200px;
}

/*********************************************************************/
.benefets{
  background-color:#FFFFFF;
  width: 100%;
  /*height:715px;*/
  min-width: auto;
  min-height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
@media  only screen and (max-width: 600px){
  .benefets{
    background-color: violet;
  }
}
.benefets >div >div{/*div invisible para agrandar el height*/
  /*background-color: teal;*/
  height: 230px;
}
.benefets > p {
  /*background-color: rgba(221, 154, 221, 0.568);*/
  margin-top: 88px;
  font-size: 50px;
  color: #23305E;
  text-shadow: 2px 2px 5px #707070;
}
.benefets >div {
  /*background-color: darksalmon;*/
  font-size: 30px;
  color: #B1ABAB;
  margin-top: 50px;
}
p > img[src="./img/flecha.png"]{
  width: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
}
/**********************************************/
div > img{/*tamaño de cualquier img dentro de un div*/
  width: 100px;
}
#guide{
  background-color:#FFFFFF;
  width:100%;
  height:715px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.separationDiv{
  background-color: #0F1734;
  height: 60px;
}
.pGuide{
  font-size: 50px;
  color:#B945D5;
  margin-left: 90px;

}

.subGuide{
 /*background-color: rgba(173, 216, 230, 0.158);*/
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 150%;

  
}
.subGuide > div{
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border-radius: 150px;
  background-color: #C2E6EA;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  color: #928C8B;
  
}
  .subGuide >div:nth-child(odd){/*selecciona los divs impares 1y3*/
    margin-top: 80px;
 
}
.subGuide >div:nth-child(2) div p{/*agranda el div de texto del circulo 2*/
   height: 180px;
  /* background-color: maroon;*/
  
}
.subGuide >div > p{
  font-size: 45px;
  align-self: flex-end;
  color: rgba(15, 23, 52, 0.658);
  font:xx-large;
}
/************************************************************/
.cipher{
  height:715px;
  background-color:#0F1734 ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

}
.cipher >p{/*CIFRA Y DESCIFRA*/
  /*background-color: thistle;*/
  margin:0 90px 0 90px;
  color: #646B6E;
  font-size:50px;
  
  
}
.cipher div:nth-child(1){/*div transparente*/
  /*background-color: blueviolet;*/
  height:88px;
}
.cipher div:nth-child(3) p{/*ELIGE UN DESPLAXAMIENTO*/
 /* background-color: aqua;*/
  margin: 18px 90px 0 90px;
  color: #F8F4F4;
  font-size: 30px;
  text-align: center;
}
.cipher div:nth-child(3) p input{/*INPUT NUMEROS*/
  /* background-color: khaki;*/
  width: 100px;
  height: 45px;
  border-radius: 25px;
  border-color: #0F1734;
  margin-left: 10PX;
  color: #646B6E;
  text-align: center;
}
.inputs{
 /* background-color: rgb(209, 84, 178);*/
  margin: 35px 90px 0 90px;
  height: 300px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;

}
/*.div-input1{
  background-color: rgb(255, 94, 0);
}
.div-input2{
background-color: rgb(199, 17, 17);
}*/
.div-input1 input {
  width:550px;
  height: 250px;
  border-radius: 25px;
  border-color: #0F1734;
}
.div-input2 input{
  width:650px;
  height:250px;
  border-radius: 25px;
  border-color:rgba(248, 244, 244, 0.966);
  background-color: #0F1734;
  
}
.btns{
  /*background-color: rgb(235, 154, 197);*/
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.btns :nth-child(1){
  background-color: #E94471;
  color: #F8F4F4;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border-color:#0F1734;

} 
.btns :nth-child(2){
  background-color: #74D5A5;
  border-color:#0F1734;
  color: #F8F4F4;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  
}
img[src="./img/mask.png"]{
  width:198px
}
.div-input2 > div{
  /*background-color: rgb(146, 247, 126);*/
  margin-top:5px;
  display: flex;
  justify-content: flex-end;
  
}
     

/*******************************************************/
.learnMore{
  height:715px;
  background-color:#F8F4F4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.learnMore > p{/*QUE ES EL CIFRADO CESAR*/
  /*background-color: gold;*/
  font-size: 50px;
  color:#74D5A5;
  margin:0 90px 0 90px;
  
}
.learnMore div:nth-child(1){
  /*background-color: fuchsia;*/
  height: 88px;
}
.learnMore div:nth-child(2){/*es el parrafo y las img*/
  background-color: rgb(85, 141, 173);
}
.learnMore div:nth-child(3){
 /*background-color: rgb(64, 196, 119);*/
  margin:15px 90px 0 90px;
  display: flex;
  /*justify-content: space-between;*/
}
img[src="./img/juliocesar.png"]{
  width: 190px;
  /*margin-right:100px;*/
}
.learnMore div:nth-child(3) p{/*texto largo*/
  color:#707070;
  font-size: 25px;
  line-height: 30px;
}
.learnMore div:nth-child(4){
  /*background-color: rgb(233, 162, 129);*/
  height: 250px;
  margin:0 90px 0 90px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.learnMore div:nth-child(4) p{
  color:#707070;
  font-size: 25px;
  line-height: 30px;
  align-self: flex-start;

}
.learnMore div:nth-child(4) img{
     align-self: flex-end;
}



 /* flexbox setup 
 display: -webkit-flex;
 -webkit-flex-direction: row;

 display: flex;
 flex-direction: row;*/

/*
